{extend name='public/base'}

{block name='title'}后台用户管理{/block}

{block name='main'}
<!-- 搜索表单-->
<form action="{:url('/user')}" class="pb-3">
    <div class="form-row">
        <div class="col-form-label">
            <label for="username">用户名：</label>
        </div>
        <div class="col-2">
            <input type="text" name="username" id="username" class="form-control" placeholder="查询的用户名">
        </div>
        <div class="col-form-label">
            <label for="email">邮箱：</label>
        </div>
        <div class="col-2">
            <input type="text" name="email" id="email" class="form-control" placeholder="查询的邮箱">
        </div>
        <div class="col-form-label">
            <label for="gender">性别：</label>
        </div>
        <div class="col-2">
            <select class="custom-select" name="gender" id="gender">
                <option selected value="">选择性别...</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">搜索</button>
            <a href="{:url('/user/create')}" class="btn btn-success">添加用户</a>
        </div>
    </div>
</form>
<!--数据列表-->
<table class="table table-bordered">
    <thead class="bglight">
    <tr>
        <th class="text-center">ID</th>
        <th>用户名</th>
        <th class="text-center">性别</th>
        <th>邮箱</th>
        <th class="text-center">状态</th>
        <th class="text-center {$orderTime == 'desc' ? '' : 'dropup'}">
            <a href="{:app\\common\\Tool::url('create_time')}create_time={$orderTime}" class="text-secondary text-decoration-none dropdown-toggle">
                创建时间
            </a>
        </th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    {assign name="empty" value='<tr><td colspan="7" class="text-center text-muted">没有数据</td></tr>'}
    {volist name='$list' id='obj' empty='$empty'}
    <tr>
        <td class="text-center">{$obj.id}</td>
        <td><span data-toggle="tooltip" data-placement="right" title="{$obj.hobby.content ?: '无'}">{$obj.username}</span></td>
        <td class="text-center">{$obj.gender}</td>
        <td>{$obj.email}</td>
        <td class="text-center">
            <span class="badge badge-{$obj.badge}">{$obj.status}</span>
        </td>
        <td class="text-center">{$obj.create_time}</td>
        <td class="text-center">
            <form action="{:url('/user/'.$obj.id)}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="btn alert-danger btn-sm text-center btn-delete">删除</button>
                <a href="{:url('/user/'.$obj.id.'/edit')}" class="btn alert-warning btn-sm text-center">修改</a>
            </form>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<h4>Bootstrap 的分页效果(功能没有实现)</h4>
<ul class="pagination">
    <li class="page-item active">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
</ul>
<h4>系统自带改良版</h4>
{$list|raw}
{/block}

{block name='js_del'}
<script type="text/javascript">
    $('.btn-delete').click(() => {
        let flag = confirm('真的要删除这条数据吗？');
        return flag ? true : false;
    })
    $('[data-toggle="tooltip"]').tooltip();
</script>
{/block}